.animation{
    height: 400px;
    width: 400px;
    margin: auto;
    position: relative;
    animation-name: move1;
    animation-duration: 3s;
    background-color: blueviolet;
    margin-top: 200px;
    animation-direction: alternate;
    animation-fill-mode: backwards;
}
@keyframes move1 {
    from {background-color: red;}
    to  {background-color:green}
}
.animation2{
    height: 200px;
    width: 200px;
    margin: auto;
    position: relative;
    animation: move2 infinite;
    animation-duration: 3s;
    background-color: blueviolet;
    margin-top: 200px;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-play-state: running;
    
}
@keyframes move2{
   20% {background-color:pink; left:200px ; top: 0px;}
    50%{background-color: red;left:0px ; top: 200px; }
   70% {background-color: yellow;left:0px ; top: 200px; border-radius:70px;}
   25% {background-color: violet; left:0px ; top: 0px; }
}
.box{
    height: 200px;
    width: 200px;
    
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    border:2px dashed aqua;
    animation: box 2s infinite forwards;

}
@keyframes box{
    0% { border-color: chartreuse; transform: scale(1);}
    25%{border-color: red; transform: scale(1.1); }
   70% {border-color: rgb(106, 0, 255); transform: scale(1.2);}
100% {border-color: rgb(255, 0, 166); transform: scale(1.3); }
}
.circule{
    height: 100px;
    width: 50px;
margin: auto;
border: 2px solid red;
border-radius: 70%;

}