body{
    background-color: #bc8f8f;
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color:aquamarine;
    width: 100%;
    color: whitesmoke;
    font-weight:bold;
    display: flex;
}
.logo{
    font-family: Georgia, 'Times New Roman', Times, serif 100px;
font-size: 70px;
color: #ff00ff;
font-weight:bold ;
margin-left: 20px;
padding:2px;

}
.navbar{
    justify-content: center;
    display:flex ;
    align-items: center;
}
.navbar li{
    list-style: none;
}
.navbar ul li{
    line-height: 50px;
    width: 200px;
    height:50px;
    background-color: green ;
    border: 2px solid magenta ;
    text-align: center;
float: left;
text-transform: uppercase;
position: relative;
}
.navbar ul li a{
    text-decoration: none;
        text-align: center;
        justify-content: center;
         align-items:center;
         color: white;
}
.navbar ul  :hover{
 background-color: #ff00ff;
 background-image:url(hi.gif) ;
}
.navbar ul  ul{
display: none;
}
.navbar ul li:hover > ul{
    display: block;
}