

h1:nth-child(3){   /* this pswudo class   where double clone it is p sudo element  */
    color: red;
}

.p::first-letter {  /* this pswudo element   where double clone it is p sudo element  */
    color: red;
    font-size: 50px;

}
p::selection {  /* this pswudo element    use for  when slect tect it will change background color  */
    color: red;
    background-color: blueviolet;
    
}